@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Press+Start+2P&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-weight: 300;
}

.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

body{
  min-height: 100vh;
}

#root{
  background: rgb(5, 1, 37);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.buttons{
  font-family: 'Inter';
  display: flex;
  height: 200px;
  width: 700px;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 200;
}

.grid{
  height: 650px;
  width: 650px;
  order: 2;
}

.grid:nth-of-type(1){
  margin-right: 50px;
}

.grid:nth-of-type(2){
  margin-left: 50px;
}

table{
  table-layout: fixed;
  height: inherit;
  width: inherit;
  color: rgb(251, 252, 250);
}

tr td{
  border: 1px solid rgb(41, 184, 23);;
}

.panel{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: aliceblue;
  order: 1;
}

.scoreButton{
  display: flex;
  color: aliceblue;
  flex-direction: column;
  justify-content: space-around;
}

.Container{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.row{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.names{
  color: blue;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.gameContainer{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content:center;
  align-items: center;
}

.homeContainer{
  display: flex;
  color: aliceblue;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80%;
  flex-direction: column;
}

.homeContainer h1{
  font-family: 'Press Start 2P';
  font-size: 70px;
  margin-top: 80px;
  letter-spacing: 10px;
}

.homeButton{
  color: aliceblue;
  padding: 10px 15px;
  margin-top: 40px;
  outline: none;
  font-size: 24px;
  border: 2px solid rgb(31, 31, 221);
  background-color: rgb(5, 1, 37);
  box-shadow: -5px 5px 2px rgb(31, 31, 221);
  transition: 0.1s;
}

.homeButton:hover{
  background-color: rgb(31, 31, 221);
}

.homeButton:active{
  background-color: rgb(15, 15, 173);
}

.add{
  box-shadow: -5px 5px 2px rgb(10, 126, 204);
  border-color: rgb(10, 126, 204);
  margin-top: 40px;
}

.add:hover{
  background-color: rgb(10, 126, 204);
}

.add:active{
  background-color: rgb(5, 93, 151);
}

.ready{
  box-shadow: -5px 5px 2px rgb(28, 121, 15);
  border-color: rgb(28, 121, 15);
  margin-top: 40px;
}

.ready:hover{
  background-color: rgb(28, 121, 15);
}

.ready:active{
  background-color: rgb(14, 85, 4);
}

.popup-overlay{
  background-color: rgba(0, 0, 0, 0.349);
}

canvas{
  background-color: rgb(68, 94, 105);
  border-radius: 50px;
}

.generateTree{
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 10;
  padding: 10px 20px;
  border-radius: 50px;
  background: brown;
  color:rgb(240, 248, 255);
  font-size: 20px;
  width: 300px;
  overflow: hidden;
}

.nftButtons{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2{
  font-size: 60px;
  letter-spacing: 2px;
}

.instructions{
  margin-top: 30px;
  height: 500px;
}

.instructions li{
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  list-style: none;
}